# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
PV = PV.settings
LBC = LBC.settings
SL = SL.settings
TA = TA.settings
TrustPilot = TrustPilot.settings
Booking = Booking.settings
Amazon = Amazon.settings
Carrefour = Carrefour.settings
Cocktail = Cocktail.settings
Airbnb = Airbnb.settings

[deploy]
#url = http://localhost:6800/